:root{
  --greenBackground: #153535;
  --golden: #DAAD76 ;
  --color1: #E49E73;
  --color2: #F9EAD9;
  --color3: #DAAD76
}
.card{
  display: flex;
  border: 2px solid black;
  width: 1300px;
  justify-content: space-between;
}
.productImg {
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
  }
  
.productImg img {
    display: block; 
    max-width: 100%; 
    max-height: 100%; 
}
.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}